In [1]:
import pandas as pd
import numpy as np

## Read the previous generated postal code file and downloaded loction file in pandas dataframe

In [20]:
postal_code = pd.read_csv('postal_code_canada.csv')

postal_code.head()

  Postal code           Borough                                  Neighborhood
0         M3A        North York                                     Parkwoods
1         M4A        North York                              Victoria Village
2         M5A  Downtown Toronto                    Regent Park , Harbourfront
3         M6A        North York             Lawrence Manor , Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park , Ontario Provincial Government

In [3]:
location =pd.read_csv('Geospatial_Coordinates.csv')
location.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [22]:
print('postal code data shape:' +str(postal_code.shape))
print('location data shape:'+str(location.shape))

postal code data shape:(103, 3)
location data shape:(103, 3)

## sort by postal code

In [28]:
sorted_postal_code = postal_code.sort_values('Postal code').reset_index(drop=True)

In [30]:
sorted_postal_code.rename(columns={'Postal code':'Postal Code'},inplace=True)

In [31]:
sorted_postal_code.head()

  Postal Code      Borough                              Neighborhood
0         M1B  Scarborough                           Malvern , Rouge
1         M1C  Scarborough  Rouge Hill , Port Union , Highland Creek
2         M1E  Scarborough       Guildwood , Morningside , West Hill
3         M1G  Scarborough                                    Woburn
4         M1H  Scarborough                                 Cedarbrae

* checking for any not equal value

In [54]:
for i,e in enumerate((sorted_postal_code['Postal Code']==location['Postal Code'])):
    if e == False:
        print('found',i)
        break

# merging two dataframe

In [57]:
df_code_with_location = pd.concat([sorted_postal_code,location[['Latitude','Longitude']]],axis=1)
df_code_with_location.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern , Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill , Port Union , Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood , Morningside , West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [58]:
#saving 
df_code_with_location.to_csv('postal_code_with_location.csv',index=False)